<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuario.tryww"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="18"
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.usuario.tryww" >
    </instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" >
        </uses-library>

        <activity
            android:name="co.gov.fna.okeda.presentacion.actividades.LoginActitvity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.gov.fna.okeda.presentacion.actividades.Dashboard.DashBoard"
            android:label="@string/title_activity_dash_board" >
        </activity>
        <activity
            android:name="co.gov.fna.okeda.presentacion.actividades.BusquedaViviendas"
            android:label="@string/title_activity_busqueda_viviendas" >
        </activity>
        <activity
            android:name="com.example.usuario.tryww.BusquedaViviendas"
            android:label="@string/title_activity_busqueda_viviendas" >
        </activity>
    </application>

</manifest>